<%- include('../partials/header') %>
<div class="container">
  <div class="row justify-content-start">
    <div class="col-8">
      <table>
        <thead>
          <th>Airline</th>
          <th>Flight Number</th>
          <th>Departure Date</th>
        </thead>
        <tbody>
          <% flights.forEach(function(flight){ %>
            <tr>
              <td><%= flight.airline %></td>
              <td><%= flight.flightNo %></td>
              <td><%= flight.departs %></td>
              <td><a href="/flights/<%= flight._id %>">Details</a></td>
              <td>
                <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
                  <input class="btn btn-danger" type="submit" value="X">
                </form>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div> 
</div>
<%- include('../partials/footer') %>